<body id="profile-body">
     <video autoplay loop muted preload class="fullscreen-bg_video">
        <source src="/assests/video/Circuit_Background.mp4" type="video/mp4">
    </video>
        <div id="profile-img-container">
            <img src="{{profileImage}}" id="profile-img">     
          
            <h1>{{messages.error}}</h1>
             <h1>{{messages.info}}</h1>
        </div>
        <div class="row" id="profile-page-header">
            <h1 id="profile-header-background-type">s0cial3r</h1>
        </div>


        <nav class="row" id="profile-nav">
                <a href="/dashboard" id="profile-logo">{{id}}</a>
            <span id="username-display-dashboard">{{displayName}}</span>
            <ul id="nav-dashboard" class="right hide-on-small-only chat-nav-links">
                 <li><a href="/profilelist" class="{{class1}}" id="main-chat-link">PROFILE LIST</a></li>
                <li><a href="/dashboard/general" class="{{class1}}" id="main-chat-link">MAIN</a></li>
                <li><a href="/dashboard/gaming_chat" class="{{class2}}" id="gaming-chat-link">GAMING</a></li>
                <li><a href="/dashboard/tv_chat" class="{{class3}}" id="tv-chat-link">TV</a></li>
                <li><a href="/dashboard/movie_chat" class="{{class4}}"  id="movie-chat-link">MOVIE</a></li>
                <li><a href="/dashboard/super-bowl-xxx_giggity" class="{{class5}}" id="sports-chat-link">SPORTS</a></li>
                <li><a href="#" class="nav-links" id="edit-profile-link">EDIT PROFILE</a></li>
            </ul>
            <ul id="nav-dashboard-mobile" class="right hide-on-small-only chat-nav-links">
                <li><a href="/dashboard/general" class="{{class1}}" id="main-chat-link">MAIN</a></li>
                <li><a href="/dashboard/gaming_chat" class="{{class2}}" id="gaming-chat-link">GAMING</a></li>
                <li><a href="/dashboard/tv_chat" class="{{class3}}" id="tv-chat-link">TV</a></li>
                <li><a href="/dashboard/movie_chat" class="{{class4}}"  id="movie-chat-link">MOVIE</a></li>
                <li><a href="/dashboard/super-bowl-xxx_giggity" class="{{class5}}" id="sports-chat-link">SPORTS</a></li>
                <li><a href="#" class="nav-links" id="edit-profile-link">EDIT PROFILE</a></li>
            </ul>
        </nav>
           

    
        <div class="row" id="search-bar-div-profile">
            <div class="input-field col l6 offset-l3 xl6 offset-xl3" id="post-bar-col">

            </div>
                <a href="/logout" class="waves-effect waves-light btn link-button" id="logout-button"><i class="material-icons left">cloud_off</i>Logout</a>
            </div>
        </div>
        <div class="row" id="feed-row">;
        <div class="col m6 offset-m3" id="feed">

        {{#each profiles}}
         <div class="card-panel" id="post">
                     <div class="card-content">
                        <a href="#" id="postername">{{displayName}}</a><span id="says"> says:</span>
                        <br>
                        <br>
                        <img src="{{image}}" id="friend-img" alt="">
                        <span id="post-body">{{message}}</span>
                        <br><br>
                        <a href="/profile/{{id}}" id="reply">Profile</a>
                    </div>
                </div>
        {{/each}}

            </div>    
            </div>

            <div id ="linky" style="display:none;">{{chan}}</div>
        <div class="row" id="profile-page-content">
            <div class="col m3" id="discord-app-col">
                <iframe src="https://discordapp.com/widget?id=406842588239495168&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" id="discord-widget"></iframe>
            </div>
            <div class="col m6" id="profile-feed-col">

            </div>

    </div>
